body {
  font-family: monospace;
  background-color: #d5d5d5;
}

.header {
  display: flex;
}

.stat {
  margin-left: 50px;
}

.field {
  display: flex;
}

.cell {
  /* width: 50px; */
  font-size: 18px;
  /* border: 1px solid transparent; */
  text-align: center;

  &.parent {
    background-color: cyan;
  }

  &.active {
    /* border-color: red; */
    background-color: yellow;
  }
}

.row {
  display: flex;

}